{% extends 'base.html' %}

{% block body %}
    <h1>Issue #{{ object.pk }} — {{ object.title }}</h1>

    <p>
        {{ issue.description }}
    </p>

    <form action="" method="post">
        {% csrf_token %}
        <h2>Transition: {{ transition }}</h2>

        <p>You're about to apply transition «{{ transition }}» on issue #{{ object.pk }}.</p>

        {{ form.as_p }}
        <button type="submit">Confirm</button>
        <a href="{% url 'issue-list' %}">Cancel</a>
    </form>
{% endblock %}
